<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated afd2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="afd2.presentation.Afd2ModelWizardID"
            name="%_UI_Afd2ModelWizard_label"
            class="afd2.presentation.Afd2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Afd2ModelFile.gif">
         <description>%_UI_Afd2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated afd2 -->
      <editor
            id="afd2.presentation.Afd2EditorID"
            name="%_UI_Afd2Editor_label"
            icon="icons/full/obj16/Afd2ModelFile.gif"
            extensions="afd2"
            class="afd2.presentation.Afd2Editor"
            contributorClass="afd2.presentation.Afd2ActionBarContributor">
      </editor>
   </extension>

</plugin>
